<div class="trash-container" id="notes">
  <div
    class="trash-notice"
    *ngFor="let item of trashDatas.trash; let i = index"
    [class.crumple]="removing[i]"
    [class.send]="sending[i]"
  >
    <span>
      <p class="notices-text">{{ item }}</p>
    </span>
    <div class="buttons-trash">
      <button class="btn" (click)="reloadNotice(i)">Hinzufügen</button>
      <button class="btn" (click)="readNotice(item)">🔊 Vorlesen</button>
      <button class="btn" (click)="deleteNotice(i)">Löschen</button>
    </div>
  </div>
</div>
