.trash-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.trash-notice {
    width: 280px;
    height: 250px;
    box-shadow: 1px 1px 5px;
    padding: 10px;
    position: relative;
    background-color: #F5F5DC;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}