<div class="trash-container" id="notes">
    @for(trashDatas of trashDatas.trash; track trashDatas; let index = $index) {
    <div class="trash-notice">
        <span>
            <p class="notices-text">{{ trashDatas }}</p>
        </span>
        <div class="buttons-trash">
            <button class="btn" (click)="reloadNotice(index)">Hinzufügen</button>
            <button class="btn" (click)="readNotice(trashDatas)">🔊 Vorlesen</button>
            <button class="btn" (click)="deleteNotice(index)">Löschen</button>
        </div>
    </div>
    }
</div>