<div class="notices-container" id="notes">
    <div>
          @for(noticedata of noticedatas.notices; track noticedata) {
            <div class="notice1">
                <span>
                    <p>{{ noticedata }}</p>
                </span>
                <div class="buttons-notice">
                    <button class="btn">Bearbeiten</button>
                    <button class="btn">Vorlesen</button>
                    <button class="btn">Löschen</button>
                  </div>
            </div>
          }
      </div>      
</div>