<div class="header-container" [class.dark-mode]="isDarkMode">
  <div class="input-notes">
    <header>
      <h1>Notiz App</h1>
    </header>
    <form (submit)="addNewNotes(inputNotes.value, $event)">
      <label for="input-notice"></label>
      <input type="text" id="input-notes" #inputNotes placeholder="Notiz eingeben..." autocomplete="off"
        [class.invalid]="isSubmitted && !inputNotes.value">
      <button id="btn-send" class="btn">Speichern</button>
    </form>
  </div>
  <div class="links-trash-notices">
    <a routerLink="/trash" routerLinkActive="active-route">Müll</a>
    <a routerLink="/notices" routerLinkActive="active-route">Notizen</a>
  </div>
</div>
