body {
  height: 100vh;
  background-color: #FAFAFA;
  color: #333;
}

.dark-light-theme {
  position: absolute;
  left: 20px;
  top: 20px;
}

button.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3 ease;
}

button.theme-toggle-btn:hover {
  transform: scale(1.1);
}

app-header .dark-mode {
  background-color: #002B36!important;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode input {
  background-color: #17505f;
  color: #93A1A1;
}